<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Edit Employee"
  [nzClosable]="false"
  [nzFooter]="null"
  (nzOnCancel)="close.emit()"
>
  <ng-container *ngIf="selectedEmployee && form; else loadingTpl">
    <ng-container>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formArrayName="leaves" class="mt-4">
          <div
            *ngFor="let leave of leaves.controls; index as i"
            [formGroupName]="i"
            class="leave-row"
          >
            <nz-date-picker
              formControlName="startDate"
              placeholder="Start Date"
            />
            <nz-date-picker formControlName="endDate" placeholder="End Date" />

            <button
              nz-button
              nzType="link"
              type="button"
              (click)="removeLeave(i)"
            >
              Remove
            </button>
          </div>
        </div>

        <button
          nz-button
          nzType="dashed"
          type="button"
          (click)="addLeave()"
          class="mt-2"
        >
          Add Leave
        </button>

        <div class="mt-3">
          <button
            nz-button
            nzType="primary"
            htmlType="submit"
            [disabled]="form.invalid"
          >
            Save
          </button>
          <button nz-button nzType="default" (click)="close.emit()">
            Cancel
          </button>
        </div>
      </form>
    </ng-container>
  </ng-container>
  <ng-template #loadingTpl>
    <div class="p-4">Loading employee details...</div>
  </ng-template>
</nz-modal>
