<form
  nz-form
  [nzLayout]="'vertical'"
  [formGroup]="form"
  *ngIf="form"
  (ngSubmit)="onSubmit()"
>
  <nz-alert
    *ngIf="form.hasError('leavesOverlap')"
    nzType="error"
    nzMessage="Leave dates overlap. Please fix them."
    nzShowIcon
  ></nz-alert>
  <div formArrayName="leaves">
    <div
      *ngFor="let leave of leaves.controls; let i = index"
      [formGroupName]="i"
      class="leave-row"
    >
      <nz-form-item>
        <nz-form-label nzFor="startDate{{ i }}" nzRequired
          >Start Date</nz-form-label
        >
        <nz-form-control [nzErrorTip]="'Required'">
          <nz-date-picker
            id="startDate{{ i }}"
            formControlName="startDate"
            nzPlaceHolder="Start Date"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="endDate{{ i }}" nzRequired
          >End Date</nz-form-label
        >
        <nz-form-control [nzErrorTip]="'Required'">
          <nz-date-picker
            id="endDate{{ i }}"
            formControlName="endDate"
            nzPlaceHolder="End Date"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="link" type="button" (click)="removeLeave(i)">
        Remove
      </button>
    </div>
  </div>
  <button nz-button nzType="dashed" type="button" (click)="addLeave()">
    Add Leave
  </button>
  <button
    nz-button
    nzType="primary"
    [disabled]="form.invalid"
    type="submit"
    (click)="onSubmit()"
  >
    Save
  </button>
</form>
